<%- include('partials/header') -%>
<div class="content-area">
    <div class="wrapper">
      <h2>About</h2>
      <p>E COU Courses provides free and open access to a selection of introductory courses taught by distinguished teachers . The aim of the project is to expand access to educational materials for all who wish to learn. All lectures were recorded in the E COU classroom and are available in video, audio, and text transcript formats.No course credit, degree, or certificate is available through the E COU Courses website.<br>
        We welcome you to explore E COU Courses where you can discover a wide range of timely and timeless topics taught by professors, each with a unique perspective and an individual interpretation of a particular field of study. We hope the lectures and other course materials, which reflect the values of education, inspire your own critical thinking and creative imagination. We greatly appreciate your enthusiastic response to this initiative and hope you will stay in touch!
      </p>
    </div>
  </div>
<%- include('partials/footer'); -%>