<%- include('partials/header'); -%>

<div class="courses">
  <h2 style="font-size: 50px;color: white;text-shadow: 3px 3px #000;">Courses</h2>
<ul class="datas">
    

<li class="data">
  <iframe width="300" height="250" src="https://www.youtube.com/embed/Qkwj65l_96I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>COMPILER DESIGN</h2>
<p style="text-align: center;margin-left: 20px;margin-right: 20px;">Learn Compiler Design from beginner to advanced</p>
</li>


<li class="data">
  <iframe width="300 " height="250" src="https://www.youtube.com/embed/AHFBK0YDk3s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>HINDI</h2>
<p style="text-align: center;margin-left: 20px;margin-right: 20px;">Learn Hindi through English</p>
</li>


<li class="data">
  <iframe width="300" height="250" src="https://www.youtube.com/embed/sx0yyQqkpqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>KOREAN</h2>
<p style="text-align: center;margin-left: 20px;margin-right: 20px;">Learn Korean from basics</p>
</li>




</ul>
</div>
<%- include('partials/footer'); -%>