<%- include('partials/header') -%>

<div class="banner-area">
  <h2>Distance Courses<br> made Better!</h2>
 

  <a href="/courses" class="btn">Courses</a>
</div>

</div>


<%- include('partials/footer'); -%>
